main {
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 500px;
  height: 100vh;
  margin: auto;
}

.display {
  display: flex;
  flex-direction: column;
  place-items: end;
}

.input {
  min-height: 24px;
  overflow: hidden;
}
