---
import Calculator from "@components/calculator.svelte";
import History from "@components/history.svelte";
import Tooltip from "@components/tooltip.svelte";
import Layout from "@layouts/base_layout.astro";
---

<Layout>
  <main class="flex h-screen gap-2">
    <div class="flex w-full flex-col p-4">
      <div class="flex items-center justify-between px-3 py-1">
        <h1 class="text-2xl font-semibold">Standard</h1>
        <Tooltip text="Open history" placement="bottom" client:load>
          <button class="sm:hidden" type="button">
            <span class="icon icon-history size-5"></span>
          </button>
        </Tooltip>
      </div>
      <div class="grow">
        <Calculator client:load />
      </div>
    </div>
    <History client:load />
  </main>
</Layout>
