---
import Calculator from "@components/calculator.svelte";
import Layout from "@layouts/base_layout.astro";
import History from "@components/history.svelte";
---

<Layout>
  <main class="flex h-screen gap-2">
    <div class="flex w-full flex-col p-4">
      <div class="flex items-center justify-between px-3 py-1">
        <h1 class="text-2xl font-semibold">Standard</h1>
        <button class="sm:hidden" type="button">History</button>
      </div>
      <div class="grow">
        <Calculator client:load />
      </div>
    </div>
    <History client:load />
  </main>
</Layout>

<script>
  import { chronicles } from "src/store";

  const resetButton = document.getElementById("reset-chronicles-button");
  resetButton?.addEventListener("click", () => {
    chronicles.set([]);
  });
</script>
