---
import "@styles/app.css";
---

<!doctype html>
<html class="h-full" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="theme-color"
      content="#ffffff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#0f172a"
      media="(prefers-color-scheme: dark)"
    />

    <link rel="apple-touch-icon" href="/calculator_pwa/apple-touch-icon.png" />
    <link rel="icon" href="/calculator_pwa/favicon.ico" sizes="48x48" />
    <link
      rel="icon"
      href="/calculator_pwa/favicon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link rel="manifest" href="/calculator_pwa/site.webmanifest" />

    <title>Calculator PWA</title>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5FGWBQK1NV"
      type="text/partytown"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      window.gtag = function gtag() {
        dataLayer.push(arguments);
      };
      
      gtag("js", new Date());

      gtag("config", "G-5FGWBQK1NV");
    </script>
  </head>
  <body
    class="h-full bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-200"
  >
    <slot />
  </body>
</html>
